.nav-header {
    display: flex;
    gap: 30px;
}


.nav-header a {
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

.nav-header a:hover {
  text-decoration: underline;
}
